<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        var can_storno = false

        window.onload = () =>{
            console.log("loaded")
            const today = new Date()
            const reservation = new Date('<%-data[0].date%>')
        
            console.log(today, reservation)

            if(reservation > today){
                document.getElementById("stornores").innerHTML = "Storno"
                can_storno = true
            }else{
                document.getElementById("stornores").style.display = "none";
            }
        
        }
    </script>
</head>
<body>

    <div id="back">
        <a id="back_link"><i class="material-icons">arrow_back</i></a>
    </div>

    <h1 id="date"><%-date[0]%></h1>
    <hr>


    <div class="Insides">

        <div id="rescard">
            <div id="animalres">
                <h2>Animal</h2>
    
                
                <div >
                    <img id="photo" src="<%-data[0].img%>">
                </div>
                
                <div >
                    <a id="name"><%-data[0].name%></as>
                </div>

                <div>
                    <a id="age"><%-data[0].age%></a>
                </div>
    
                <div>
                    <a id="spieces"><%-data[0].spieces%></a>
                </div>

                <div>
                    <a id="userprofile">Go to profile<i class="material-icons">chevron_right</i></a>
                </div>

            </div>
    
        </div>

        <div id="pendingButtons">
            <a id="stornores" data-doc=""></a>
        </div>

    </div>


    <script>

        
    const trashcan = document.querySelector('#pendingButtons')
    
    trashcan.addEventListener('click', (e) => {
        const endpoint = '/caregiverAppointmentCard/<%-data[0].appointmend_id%>';
        console.log("storno")

        if(can_storno){
            fetch(endpoint , {
                method: 'PUT',
            })
            .then((response => response.json()))
            .then((data) => window.location.href = data.redirect) 
            .catch(err => console.log(err))
        }

    })

        const animal_profile = document.querySelector('a#userprofile')

        animal_profile.addEventListener('click', (e) => {
            const endpoint = "/caregiverProfileAnimal/<%=data[0].animal_id%>";

            fetch(endpoint , {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    },

                    
                })
                .then( window.location.href = endpoint ) 
        })

        var element = document.getElementById('back_link');
        element.setAttribute('href', document.referrer);

        element.onclick = function() {
            history.back();
            return false;
        }

        

        



    </script>
</body>
</html>