<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="content">

        <div id="back">
        <a href="\caregiverHomepage"><i class="material-icons">arrow_back</i></a>
        </div>
        
        <h1 id="h1AddAnimal">Appointments</h1>
        <hr id="hrAddAnimal">

        <div id="box_app"> 

          <h2>Confirmed Upcoming</h2>
            <div id="dates_upcoming_con" onClick="is_Clicked()">
                <% if(app_data_c){ for(var i = 0; i< app_data_c.length; i++) {%>
      
                  <div id="upcoming_id" class="upcoming_id" onClick="is_Clicked1('<%-app_data_c[i].appointment_id%>')">
                    <a id="a2"><%-app_data_c_print[i]%></a>
                    <a id="a2"><%-app_data_c[i].name%></a>
                    <a id="upcoming_id_icon"><i class="material-icons">chevron_right</i></a>
                  </div>
        
                <% } }else{ %>
        
                  No data ever existed.
        
                <% } %>
            </div> 

            <h2>Unconfirmed Upcoming</h2>
            <div id="dates_un_upcoming" onClick="is_Clicked()">
                <% if(app_data_u){ for(var i = 0; i< app_data_u.length; i++) {%>
      
                  <div id="un_upcoming_id_app" class="upcoming_id" onClick="is_Clicked1('<%-app_data_u[i].appointment_id%>')">
                    <a id="a2"><%-app_data_u[i].name%></a>
                    <a id="upcoming_id_icon"><i class="material-icons">chevron_right</i></a>
                  </div>
        
                <% } }else{ %>
        
                  No data ever existed.
        
                <% } %>
            </div> 
      

        </div>

        <script>
            function is_Clicked1(id){
                console.log("reservation:", id)
                url = "/caregiverAppointmentCard/"+id
                window.location.href = url
            }

            function is_Clicked2(id){
                console.log("reservation:", id)
                url = "/caregiverAppointmentCard/"+id
                window.location.href = url
            }
        </script>

        
        </div>




    </div>


    </body>
</html>